.insert-card-block {
  width: 520px;
  margin: 100px auto 0;
  text-align: center;
  .arrow-down-icon {
    display: block;
    margin: 70px auto 0;
    width: 46px;
    height: 55px;
    fill: #fff;
  }
  img {
    width: 440px;
    height: 350px;
  }
}
