@charset "UTF-8";
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  touch-action: none;
  -moz-user-select: none;
  -webkit-user-select: none;
   }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
   }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
f
/* /Reset */
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro.eot?") format("eot"), url("../fonts/GothamPro.otf") format("opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.svg#GothamPro") format("svg");; }
@font-face {
  font-family: 'GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium.eot?") format("eot"), url("../fonts/GothamPro-Medium.otf") format("opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg"); }
@font-face {
  font-family: 'GothamPro-Light';
  src: url("../fonts/GothamPro-Light.eot?") format("eot"), url("../fonts/GothamPro-Light.otf") format("opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"), url("../fonts/GothamPro-Light.svg#GothamPro-Light") format("svg"); }
body {
  height: 100vh;
  font-family: "GothamPro-Light";
  background-color: #1B2742; }

h3 {
  font-size: 48px;
  text-align: center;
  color: #fff; }

.svg-sprite {
 display: none; 
}

.blue {
  color: #239AFC; }

.attention {
  color: #FFB52B; }

.container {
  position: relative;
  width: 940px;
  margin: auto; }

.btn-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between; }

.btn {
  height: 100px;
  border-radius: 4px;
  line-height: 100px;
  font-size: 24px;
  font-family: "GothamPro-Medium";
  color: #fff;
  border: none;
  background: linear-gradient(180deg, #2F3E61 0%, #243250 100%);
  box-shadow: inset 0 2px 0 0 #3D4C71, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  .btn:focus {
    outline: none;
    box-shadow: none; }
  .btn__blue {
    background: linear-gradient(180deg, #28A0FF 0%, #0775EC 100%);
    box-shadow: inset 0 2px 0 0 #55B3FF, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  .btn__back, .btn__forward {
    width: 320px; }
  .btn__disabled {
    opacity: 0.5;
  }

.btn-group {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex; }
  .btn-group--item {
    flex-grow: 1;
    height: 80px;
    font-size: 28px;
    line-height: 80px;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: inset 0 2px 0 0 #3D4C71, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
    .btn-group--item:first-child {
      border-radius: 4px 0 0 4px; }
    .btn-group--item:last-child {
      border-radius: 0 4px 4px 0; }
    .btn-group--item:not(.active) {
      background: linear-gradient(180deg, #2F3E61 0%, #243250 100%); }
    .btn-group--item.active {
      border-top: 2px solid #0b142d;
      border-bottom: 6px solid #1688F5;
      box-shadow: none;
      background-color: #253350; }

.banner {
  margin-top: 200px;
  height: 355px;
  background: #91aab9;
  border-radius: 8px; }

.pagination {
  width: 135px;
  margin: 50px auto 0; }
  .pagination .step {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    background-color: #4E5E80;
    border-radius: 50%; }
    .pagination .step:last-child {
      margin: 0; }
    .pagination .step.disabled, .pagination .step.active {
      background: linear-gradient(180deg, #28A0FF 0%, #0775EC 100%);
      box-shadow: inset 0 2px 0 0 #55B3FF, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
    .pagination .step.disabled {
      opacity: 0.4; }

.timer-block {
  margin-top: 70px;
  text-align: center; }
  .timer-block p {
    color: #fff;
    font-size: 20px; }

.timer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  color: #fff;
  font-size: 46px;
  font-family: "GothamPro-Medium"; }
  .timer div:not(.timer--item) {
    margin: 0 10px; }
  .timer--item {
    width: 120px;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    background: linear-gradient(180deg, #2F3E61 0%, #243250 100%);
    border-radius: 4px;
    box-sizing: border-box; }

.accepted-cards {
  margin-bottom: 200px;
  color: #fff;
  text-align: center;
  font-family: "GothamPro-Medium"; }
  .accepted-cards h5 {
    color: #FDFDFE;
    font-size: 24px;
    line-height: 56px; }
  .accepted-cards .card-list {
    width: 300px;
    margin: auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-evenly;
    font-size: 16px; }
  .accepted-cards .mcrd-icon,
  .accepted-cards .visa-icon {
    width: 98px;
    height: 67px;
    margin-bottom: 10px; }
  .accepted-cards .mcrd-icon {
    background: url("../img/ic_mastercard.svg"); }
  .accepted-cards .visa-icon {
    background: url("../img/ic_visa.svg"); }

.loader-block {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 460px;
  margin-left: -230px;
  text-align: center;
  font-size: 24px;
  color: #fff; }
  .loader-block p {
    margin-top: 30px; }

.loader {
  position: relative;
  width: 460px;
  height: 36px;
  margin: 70px auto 0;
  overflow: hidden;
  border-radius: 23px;
  background-color: #33446A; }
  .loader .scale {
    position: absolute;
    display: block;
    height: 36px;
    border-radius: 23px;
    background: linear-gradient(180deg, #28A0FF 0%, #0775EC 100%);
    box-shadow: inset 0 2px 0 0 #55B3FF, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }

/*
== malihu jquery custom scrollbar plugin ==
Plugin URI: http://manos.malihu.gr/jquery-custom-content-scroller
*/
/*
CONTENTS:
  1. BASIC STYLE - Plugin's basic/essential CSS properties (normally, should not be edited).
  2. VERTICAL SCROLLBAR - Positioning and dimensions of vertical scrollbar.
  3. HORIZONTAL SCROLLBAR - Positioning and dimensions of horizontal scrollbar.
  4. VERTICAL AND HORIZONTAL SCROLLBARS - Positioning and dimensions of 2-axis scrollbars.
  5. TRANSITIONS - CSS3 transitions for hover events, auto-expanded and auto-hidden scrollbars.
  6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
    6.1 THEMES - Scrollbar colors, opacity, dimensions, backgrounds etc. via ready-to-use themes.
*/
/*
------------------------------------------------------------------------------------------------------------------------
1. BASIC STYLE
------------------------------------------------------------------------------------------------------------------------
*/
.mCustomScrollbar {
  -ms-touch-action: pinch-zoom;
  touch-action: pinch-zoom;
  /* direct pointer events to js */ }

.mCustomScrollbar.mCS_no_scrollbar, .mCustomScrollbar.mCS_touch_action {
  -ms-touch-action: auto;
  touch-action: auto; }

.mCustomScrollBox {
  /* contains plugin's markup */
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: none;
  direction: ltr; }

.mCSB_container {
  /* contains the original content */
  overflow: hidden;
  width: auto;
  height: auto; }

/*
------------------------------------------------------------------------------------------------------------------------
2. VERTICAL SCROLLBAR
y-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0; }

/* non-visible scrollbar */
.mCS-dir-rtl > .mCSB_inside > .mCSB_container {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-left: 0; }

/* RTL direction/left-side scrollbar */
.mCSB_scrollTools {
  /* contains scrollbar markup (draggable element, dragger rail, buttons etc.) */
  position: absolute;
  width: 16px;
  height: auto;
  left: auto;
  top: 0;
  right: 84px;
  bottom: 0; }

.mCSB_outside + .mCSB_scrollTools {
  right: -26px; }

/* scrollbar position: outside */
.mCS-dir-rtl > .mCSB_inside > .mCSB_scrollTools,
.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  /* RTL direction/left-side scrollbar */
  right: auto;
  left: 0; }

.mCS-dir-rtl > .mCSB_outside + .mCSB_scrollTools {
  left: -26px; }

/* RTL direction/left-side scrollbar (scrollbar position: outside) */
.mCSB_scrollTools .mCSB_draggerContainer {
  /* contains the draggable element and dragger rail markup */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 10px;
  height: 100%;
  margin-left: 44px;
  background-color: #313F5F;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.mCSB_scrollTools .mCSB_dragger {
  /* the draggable element */
  height: auto !important;
  cursor: pointer;
  width: 100%;
  height: 30px;
  /* minimum dragger height */
  z-index: 1; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  /* the dragger element */
  position: relative;
  width: 100px;
  height: 223px;
  margin: 0 auto;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  text-align: center; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  width: 12px;
  /* auto-expanded scrollbar */ }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  width: 8px;
  /* auto-expanded scrollbar */ }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: absolute;
  height: 20px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  bottom: 0; }

/*
------------------------------------------------------------------------------------------------------------------------
3. HORIZONTAL SCROLLBAR
x-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_horizontal.mCSB_inside > .mCSB_container {
  margin-right: 0;
  margin-bottom: 30px; }

.mCSB_horizontal.mCSB_outside > .mCSB_container {
  min-height: 100%; }

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

/* non-visible scrollbar */
.mCSB_scrollTools.mCSB_scrollTools_horizontal {
  width: auto;
  height: 16px;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0; }

.mCustomScrollBox + .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCustomScrollBox + .mCSB_scrollTools + .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  bottom: -26px; }

/* scrollbar position: outside */
.mCSB_scrollTools.mCSB_scrollTools_horizontal a + .mCSB_draggerContainer {
  margin: 0 20px; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger {
  width: 30px;
  /* minimum dragger width */
  height: 100%;
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_dragger .mCSB_dragger_bar {
  height: 12px;
  /* auto-expanded scrollbar */
  margin: 2px auto; }

.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger.mCSB_dragger_onDrag_expanded + .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerContainer:hover .mCSB_draggerRail {
  height: 8px;
  /* auto-expanded scrollbar */
  margin: 4px 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  display: block;
  position: absolute;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
  left: 0; }

.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
  right: 0; }

/*
------------------------------------------------------------------------------------------------------------------------
4. VERTICAL AND HORIZONTAL SCROLLBARS
yx-axis
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_container_wrapper {
  position: absolute;
  height: auto;
  width: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-right: 30px;
  margin-bottom: 30px; }

.mCSB_container_wrapper > .mCSB_container {
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 20px; }

.mCSB_vertical_horizontal > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 20px; }

/* non-visible horizontal scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden + .mCSB_scrollTools.mCSB_scrollTools_vertical {
  bottom: 0; }

/* non-visible vertical scrollbar/RTL direction/left-side scrollbar */
.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal,
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  right: 0; }

/* RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 20px; }

/* non-visible scrollbar/RTL direction/left-side scrollbar */
.mCS-dir-rtl > .mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden + .mCSB_scrollTools ~ .mCSB_scrollTools.mCSB_scrollTools_horizontal {
  left: 0; }

.mCS-dir-rtl > .mCSB_inside > .mCSB_container_wrapper {
  /* RTL direction/left-side scrollbar */
  margin-right: 0;
  margin-left: 30px; }

.mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden > .mCSB_container {
  padding-right: 0; }

.mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden > .mCSB_container {
  padding-bottom: 0; }

.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_y.mCS_y_hidden {
  margin-right: 0;
  /* non-visible scrollbar */
  margin-left: 0; }

/* non-visible horizontal scrollbar */
.mCustomScrollBox.mCSB_vertical_horizontal.mCSB_inside > .mCSB_container_wrapper.mCS_no_scrollbar_x.mCS_x_hidden {
  margin-bottom: 0; }

/*
------------------------------------------------------------------------------------------------------------------------
5. TRANSITIONS
------------------------------------------------------------------------------------------------------------------------
*/
.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  -webkit-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: opacity .2s ease-in-out, background-color .2s ease-in-out; }

.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_vertical.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_dragger_bar,
.mCSB_scrollTools_horizontal.mCSB_scrollTools_onDrag_expand .mCSB_draggerRail {
  -webkit-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -moz-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  -o-transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out;
  transition: width .2s ease-out .2s, height .2s ease-out .2s, margin-left .2s ease-out .2s, margin-right .2s ease-out .2s, margin-top .2s ease-out .2s, margin-bottom .2s ease-out .2s, opacity .2s ease-in-out, background-color .2s ease-in-out; }

/*
------------------------------------------------------------------------------------------------------------------------
6. SCROLLBAR COLORS, OPACITY AND BACKGROUNDS
------------------------------------------------------------------------------------------------------------------------
*/
/*
----------------------------------------
6.1 THEMES
----------------------------------------
*/
/* default theme ("light") */
.mCS-autoHide > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 0;
  filter: "alpha(opacity=0)";
  -ms-filter: "alpha(opacity=0)"; }

.mCustomScrollbar > .mCustomScrollBox > .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollbar > .mCustomScrollBox ~ .mCSB_scrollTools.mCSB_scrollTools_onDrag,
.mCustomScrollBox:hover > .mCSB_scrollTools,
.mCustomScrollBox:hover ~ .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox > .mCSB_scrollTools,
.mCS-autoHide:hover > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  border-radius: 50px;
  background: url("../img/ic_scroll-arrow.svg") no-repeat 15px 37px, linear-gradient(180deg, #2F3E61 0%, #243250 100%);
  box-shadow: inset 0 2px 0 0 #3D4C71, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.85);
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)"; }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)"; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  /* css sprites */
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)"; }

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /*
  sprites locations
  light: 0 0, -16px 0, -32px 0, -48px 0, 0 -72px, -16px -72px, -32px -72px
  dark: -80px 0, -96px 0, -112px 0, -128px 0, -80px -72px, -96px -72px, -112px -72px
  */ }

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /*
  sprites locations
  light: 0 -20px, -16px -20px, -32px -20px, -48px -20px, 0 -92px, -16px -92px, -32px -92px
  dark: -80px -20px, -96px -20px, -112px -20px, -128px -20px, -80px -92px, -96px -92px, -112 -92px
  */ }

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /*
  sprites locations
  light: 0 -40px, -20px -40px, -40px -40px, -60px -40px, 0 -112px, -20px -112px, -40px -112px
  dark: -80px -40px, -100px -40px, -120px -40px, -140px -40px, -80px -112px, -100px -112px, -120px -112px
  */ }

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /*
  sprites locations
  light: 0 -56px, -20px -56px, -40px -56px, -60px -56px, 0 -128px, -20px -128px, -40px -128px
  dark: -80px -56px, -100px -56px, -120px -56px, -140px -56px, -80px -128px, -100px -128px, -120px -128px
  */ }

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)"; }

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)"; }

/* theme: "dark" */
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.15); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.85); }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.9); }

.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px; }

.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px; }

/* ---------------------------------------- */
.calendar-block {
  width: 780px;
  margin: 100px auto 200px;
  font-size: 28px;
  color: #FFFFFF;
  text-align: center;
  line-height: 36px; }
  .calendar-block p {
    margin-top: 20px; }

.ui-datepicker {
  display: none; }
  .ui-datepicker .ui-datepicker-title {
    text-align: center; }
  .ui-datepicker span.ui-datepicker-year {
    display: none; }

.ui-datepicker {
  margin-top: 40px;
  box-sizing: border-box;
  min-width: 270px;
  z-index: 101 !important; }
  .ui-datepicker-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 0;
    background: none;
    z-index: 1; }
  .ui-datepicker .ui-datepicker-header {
    position: relative;
    font-size: 32px;
    font-family: "GothamPro-Light";
    height: 100px;
    vertical-align: middle;
    color: #fff;
    background: #253352; }
  .ui-datepicker .ui-datepicker-title {
    line-height: 100px; }
  .ui-datepicker .ui-datepicker-prev,
  .ui-datepicker .ui-datepicker-next {
    position: absolute;
    display: block;
    font-size: 0;
    width: 100px;
    height: 100px;
    border-radius: 4px;
    background: linear-gradient(180deg, #2F3E61 0%, #243250 100%);
    box-shadow: inset 0 2px 0 0 #3D4C71, 0 15px 30px 0 rgba(0, 0, 0, 0.2);
    z-index: 2; }
    .ui-datepicker .ui-datepicker-prev:active:hover,
    .ui-datepicker .ui-datepicker-next:active:hover {
      background: linear-gradient(180deg, #E2EBFD 0%, #B0B9C9 100%); 
     } 
    .ui-datepicker .ui-datepicker-prev:before,
    .ui-datepicker .ui-datepicker-next:before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      background: url("../img/ic_btn-arrow.svg") no-repeat 50%; }
    .ui-datepicker .ui-datepicker-prev.ui-state-disabled:active:hover,
    .ui-datepicker .ui-datepicker-next.ui-state-disabled:active:hover {
      box-shadow: none;
      background: none; }  
    .ui-datepicker .ui-datepicker-prev.ui-state-disabled,
    .ui-datepicker .ui-datepicker-next.ui-state-disabled {
      box-shadow: none;
      background: none; }
  .ui-datepicker .ui-datepicker-prev {
    float: left; }
    .ui-datepicker .ui-datepicker-prev:before {
      transform: rotate(180deg); }
  .ui-datepicker .ui-datepicker-next {
    right: 0; }
    .ui-datepicker .ui-datepicker-next:before {
      content: "›"; }
  .ui-datepicker .ui-datepicker-calendar {
    position: relative; }
 
  .ui-datepicker .ui-state-highlight span,
  .ui-datepicker .ui-state-highlight a {
    margin: 0;
    width: 25px;
    height: 25px;
    line-height: 25px; }
  .ui-datepicker .ui-state-diapason span,
  .ui-datepicker .ui-state-diapason a {
    color: #68b2dd;
    border-color: #bbdcf0;
    background: #fafcfe; }
  .ui-datepicker .ui-datepicker-today span,
  .ui-datepicker .ui-datepicker-today a {
    color: #0775EC;
    background: linear-gradient(180deg, #E2EBFD 0%, #B0B9C9 100%); }
  .ui-datepicker .ui-datepicker-current-day span,
  .ui-datepicker .ui-datepicker-current-day a,
  .ui-datepicker .is_select span,
  .ui-datepicker .is_select a {
    color: #fff;
    background: linear-gradient(180deg, #28A0FF 0%, #0775EC 100%); }  
  .ui-datepicker table {
    width: 100%;
    color: #000;
    border-collapse: collapse;
    font-size: 12px; }
    .ui-datepicker table thead {
      background: #253352; }
    .ui-datepicker table th {
      padding: 19px 0 11px; }
      .ui-datepicker table th span {
        font-family: "GothamPro-Light";
        color: #7A88A8;
        font-size: 28px; }
    .ui-datepicker table td a, .ui-datepicker table td span {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-top: 12px;
      padding-top: 32px;
      text-align: center;
      border-radius: 4px;
      font-family: "GothamPro-Medium";
      font-size: 36px;
      box-sizing: border-box; }
    .ui-datepicker table td a {
      color: #3E4962;
      text-decoration: none;
      background: linear-gradient(180deg, #E2EBFD 0%, #B0B9C9 100%); }
    .ui-datepicker table td span {
      color: #677086;
      background-color: #253352; }
  .ui-datepicker th {
    padding: 5px 0; }
  .ui-datepicker a {
    display: block;
    color: inherit; }

select.ui-datepicker-year,
select.ui-datepicker-month {
  padding: 3px 4px;
  font-size: 13px;
  font-family: "GothamPro-Light";
  color: #333;
  border-radius: 2px;
  border: 1px solid #68b2dd;
  box-sizing: border-box; }

.header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 160px;
  color: #fff;
  background: linear-gradient(180deg, #061024 0%, #1B2742 100%);
  box-shadow: inset 0 1px 0 0 #0F1A32;
  border-bottom: 2px solid #131E38; }
  .header .container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between; }
  .header .time {
    font-size: 60px; }
  .header .logo {
    width: 173px; }
  .header .lang a {
    display: inline-block;
    width: 75px;
    height: 50px; }
    .header .lang a:first-child {
      margin-right: 25px; }
  .header .lang__uk {
    background: url("../img/ic_flag_ukr.svg"); }
  .header .lang__en {
    background: url("../img/ic_flag_eng.svg"); }

.main-heading {
  margin-top: 120px;
  text-align: center;
  color: #fff; }
  .main-heading h1 {
    margin-top: 70px;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 120px;
    font-family: "GothamPro-Medium"; }
  .main-heading h2 {
    margin-top: 50px;
    font-size: 48px;
    line-height: 64px; }
  .main-heading h3 {
    font-size: 86px;
    font-family: "GothamPro-Medium";
    line-height: 110px; }
  .main-heading p {
    font-size: 24px;
    color: #A6AFC3;
    line-height: 64px; }
  .main-heading svg {
    fill: #479afa; }
  .main-heading .train-icon-filled {
    width: 98px;
    height: 140px; }
  .main-heading .plane-icon-filled {
    width: 136px;
    height: 136px; }
  .main-heading .btn-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 60px -10px 0; }
    .main-heading .btn-block .btn {
      flex-grow: 1;
      height: 140px;
      line-height: 140px;
      font-size: 30px;
      margin: 0 10px;
      border-radius: 8px; }

.visual-scheme {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  margin: 60px 0 130px 0;
  font-size: 36px;
  line-height: 36px;
  font-family: "GothamPro-Medium"; }
  .visual-scheme .train-icon {
    width: 178px;
    height: 131px; }
  .visual-scheme .plane-icon {
    width: 178px;
    height: 107px; }
  .visual-scheme .arrow {
    position: relative;
    width: 400px;
    height: 4px;
    background-color: #239AFC;
    border-radius: 5.5px; }
    .visual-scheme .arrow--part {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #239AFC;
      border-radius: 5.5px; }
      .visual-scheme .arrow--part.top-left, .visual-scheme .arrow--part.bottom-right {
        transform: rotate(-45deg); }
      .visual-scheme .arrow--part.bottom-left, .visual-scheme .arrow--part.top-right {
        transform: rotate(45deg); }
      .visual-scheme .arrow--part.top-left, .visual-scheme .arrow--part.bottom-left {
        left: -2px; }
      .visual-scheme .arrow--part.top-right, .visual-scheme .arrow--part.bottom-right {
        right: -2px; }
      .visual-scheme .arrow--part.top-left, .visual-scheme .arrow--part.top-right {
        bottom: 6px; }
      .visual-scheme .arrow--part.bottom-left, .visual-scheme .arrow--part.bottom-right {
        top: 6px; }

.timetable-block {
  width: 780px;
  margin: 50px auto 0; }
  .timetable-block h3 {
    margin-bottom: 50px; }
  .timetable-block + .btn-block {
    margin-top: 100px; }

.timetable {
  height: 1093px;
  overflow: hidden; }
  .timetable--heading, .timetable--row {
    width: 78%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #374460; }
  .timetable--heading {
    padding-top: 50px;
    padding-bottom: 15px;
    color: #7A88A8;
    font-size: 24px;
    line-height: 24px; }
  .departure, .roadtime {
    flex-basis: 40%;
  } 
  .arrival {
    flex-basis: 20%;
  } 
  .timetable--row {
    align-items: center;
    height: 80px;
    font-size: 32px;
    color: #7A88A8;
    line-height: 81px; }
    .timetable--row .time {
      color: #fff;
      flex-basis: 19%;
       }
    .timetable--row .time-minutes {
      flex-basis: 19%;
    }  
  .timetable .roadtime {
    width: 170px; }

.ticket-numbers-block {
  margin-top: 200px;
  margin-bottom: 300px;
  text-align: center; }
  .ticket-numbers-block .info-text {
    width: 460px;
    margin: 50px auto 0;
    padding-bottom: 40px;
    font-size: 32px;
    color: #DFE8FA;
    line-height: 48px;
    border-bottom: 1px solid #394765; }
    .ticket-numbers-block .info-text .attention {
      font-family: 'GothamPro-Medium'; }
  .ticket-numbers-block .total-cost {
    margin-top: 40px;
    font-size: 24px;
    line-height: 1.4;
    color: #A4ADC2; }
    .ticket-numbers-block .total-cost .price {
      font-family: 'GothamPro-Medium';
      font-size: 80px;
      color: #FFFFFF; }
      .ticket-numbers-block .total-cost .price span {
        font-family: 'GothamPro-Light';
        font-size: 30px;
        color: #A4ADC2; }
  .ticket-numbers-block .btn {
    width: 460px;
    margin-top: 50px; }

.ticket-numbers {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .ticket-numbers .display {
    width: 196px;
    height: 120px;
    margin: 0 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 68px;
    font-family: 'GothamPro-Medium';
    color: #fff;
    border-radius: 4px;
    background-color: #253352;
    box-sizing: border-box; }
  .ticket-numbers .button {
    position: relative;
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 4px;
    background: linear-gradient(180deg, #E2EBFD 0%, #B0B9C9 100%);
    box-shadow: inset 0 2px 0 0 #F2F7FF, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  .ticket-numbers .button:active:hover {
    background: linear-gradient(180deg, #28A0FF 0%, #0775EC 100%);
    box-shadow: inset 0 2px 0 0 #0775EC, 0 15px 30px 0 rgba(0, 0, 0, 0.2); 
    }  
    .ticket-numbers .button:before, .ticket-numbers .button:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 48px;
      height: 8px;
      margin: -4px 0 0 -24px;
      background-color: #1B2742;
      border-radius: 2px; }
    .ticket-numbers .button:after {
      transform: rotate(90deg); }
    .ticket-numbers .button.minus:after {
      display: none; }

.insert-card-block {
  width: 520px;
  margin: 100px auto 0;
  text-align: center; }
  .insert-card-block .arrow-down-icon {
    display: block;
    margin: 70px auto 0;
    width: 46px;
    height: 55px;
    fill: #fff; }
  .insert-card-block img {
    width: 440px;
    height: 350px; }

.pin-code-block {
  width: 460px;
  margin: 100px auto 0; }

.lock {
  margin: 50px 0 200px 0; }
  .lock input {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    text-align: center;
    color: #7A8294;
    font-size: 68px;
    border: none;
    border-radius: 4px;
    background: #253352; }
  .lock .dial {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .lock .dial--button {
      width: 145px;
      height: 100px;
      margin-bottom: 13px;
      text-align: center;
      font-size: 36px;
      color: #1B2742;
      font-family: "GothamPro-Medium";
      border: none;
      border-radius: 4px;
      outline: none;
      background: linear-gradient(180deg, #E2EBFD 0%, #B0B9C9 100%);
      box-shadow: inset 0 2px 0 0 #F2F7FF, 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
      .lock .dial--button:focus {
        box-shadow: none; }
  .lock .btn {
    width: 100%;
    margin-top: 30px; }

.success-block {
  margin-top: 100px; }
  .success-block .success-icon {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 50px; }
  .success-block .dont-forget {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
    margin-top: 60px; }
    .success-block .dont-forget .item {
      text-align: center;
      color: #fff;
      font-size: 24px;
      line-height: 36px; }
    .success-block .dont-forget img {
      display: block;
      margin: auto; }
    .success-block .dont-forget .arrow-down-icon {
      width: 62px;
      height: 74px;
      margin-top: 40px;
      fill: #B6C4E3; }
    .success-block .dont-forget .take-card {
      width: 400px; }
    .success-block .dont-forget .take-ticket {
      width: 300px;
      margin-top: 43px; }
  .success-block .info-text {
    width: 350px;
    margin: 50px auto 0;
    text-align: center;
    font-size: 32px;
    line-height: 42px;
    color: #a9b0c4; }
    .success-block .info-text .attention {
      font-family: 'GothamPro-Medium'; }
    .success-block .info-text .btn {
      width: 83%;
      margin-top: 80px; }

.fail-pay-block {
  margin: 200px 0;
  font-size: 24px;
  text-align: center;
  line-height: 36px;
  color: #fff; }
  .fail-pay-block p {
    width: 640px;
    margin: auto; }
  .fail-pay-block .attention {
    margin-top: 30px; }
  .fail-pay-block .fail-icon {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto 50px; }
  .fail-pay-block .hr {
    width: 300px;
    margin: 50px auto;
    border-top: 1px solid #0e1835;
    border-bottom: 1px solid #35415f; }
  .fail-pay-block .btn {
    margin-top: 60px;
    padding: 0 38px; }

/*-------------------tech-error------------------*/

.tech-error-block {
    text-align: center;
    margin-top: 400px;
  }
.tech-error-block img {
    margin-bottom: 65px;
    
}
.tech-error-block h3 {
    margin-bottom: 25px;
    font-family: "GothamPro-Medium";
}

.tech-error-block .info-text {
  color: #F7B239;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}
.tech-error-block .attention {
  margin-bottom: 60px;
}
.tech-error-block .line {
  height: 2px;
  width: 300px;
  margin: 0 auto 70px;
  background-color: #394765;
  box-shadow: inset 0 1px 0 0 #0F1A32;
}
.tech-error-block .btn {
  width: 300px;
}
        

.registration {
  padding: 390px 220px 0
}
.registration-select {
  margin-bottom: 15px;
}
.registration-select select {
    width: 100%;
    height: 50px;
    font-family: "GothamPro-Light";
    font-size: 23px;
    padding-left: 15px;
    border-radius: 4px;
    background-color: #32405F;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 10px;
}
  .registration__block {
    width: 460px;
    margin: 0 auto;
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 357px;
    padding-top: 69px;}
    .registration__block label {
      font-size: 24px;
    }
    .registration-select label {
      display: block;
      margin-bottom: 10px;
    }
    .registration__block input {
    width: 85%;
    height: 28px;
    margin-bottom: 40px;
    text-align: center;
    color: #FFFFFF;
    font-family: "GothamPro-Light";
    font-size: 24px;
    line-height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #32405F;
    box-shadow: inset 0 2px 0 0 #0B1223, 0 0px 0px 0 #303E5E;
    margin-top: 17px;
    padding: 36px; }
    .registration__block .btn {
      width: 100%;
      margin-bottom: 59px;}
    .registration__line {
      height: 2px;
      width: 460px;
      background-color: #394765;
      box-shadow: inset 0 1px 0 0 #0F1A32;
      margin-bottom: 20px;
    }
    .registration__unic {
    width: 360px;
    margin: 0 auto;
    background-color: #32405F;
    padding: 20px;
    border-radius: 4px;
    padding: 23px 50px 36px;
    line-height: 48px;
    text-align: center}
    .registration__yellow {
    font-size: 20px;
    color: #ffB52B;}
    .registration__unic-number {
      text-transform: uppercase;
      font-size: 32px;
      color:#DFE8FA;
      word-wrap: break-word;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
}
}



/*# sourceMappingURL=terminal-styles.css.map */
