<div class="container">
  <div class="success-block">
    <img src="../../img/ic_success.svg" alt="success" class="success-icon">
    <h3 translate="payment_successful">Квитки надруковано</h3>
    <div class="dont-forget">
      <div class="item">
        <p translate="pickup_tickets">Не забудьте витати клієнту квитки</p>
        <svg class="arrow-down-icon"><use xlink:href="#arrow-down-icon"></use></svg>
        <img class="take-ticket" src="../../img/img_check.png" alt="insert-card">
      </div>
    </div>
    <div class="info-text">
      <p class="attention" translate="pay_attention">Attention</p>
      <p translate="single_travel">Hello my friend</p>
      <button class="btn" id="js-main" translate="on_main">На головну</button>
    </div>
  </div>
</div>
<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript" src="../../js/svg.js"></script>
<script src="../../js/success-pay.js"></script>