<div class="container">
  <div class="pagination">
    <span class="step active"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>

  <div class="calendar-block">
    <h3 translate="select_date"></h3>
    <p translate="ticket_info"></p>
    <div class="datepicker"></div>
  </div>

  <div class="btn-block">
    <button class="btn btn__back" id="js-main-page" translate="on_main"></button>
    <button class="btn btn__forward" id="js-tickets-count" disabled="disabled" translate="continue"></button>
  </div>
</div>
<script src="../../js/date-select.js"></script>
