<div class="container">
  <div class="fail-pay-block">
    <img class="fail-icon" src="../../img/ic_sad.svg" alt="fail">
    <h3 translate="fail_payment"></h3>
    <span id="js-errors"></span>
    <p class="attention" translate="payments_online"></p>
    <div class="hr"></div>
    <p translate="try_again"></p>
    <button class="btn" id="js-repeat-pay" translate="repeat_payment"></button>
  </div>

  <div class="btn-block">
    <button class="btn btn__back" id="js-back" translate="on_main"></button>
  </div>
</div>
<script src="../../js/fail-pay.js"></script>
