<div class="container">
  <div class="main-heading">
    <h3 translate="main_title"></h3>
    <div class="visual-scheme">
      <svg class="train-icon"><use xlink:href="#train-icon"></use></svg>
      <div class="way-time">
        <span translate="40_minutes"></span>
        <div class="arrow">
          <span class="arrow--part top-left"></span>
          <span class="arrow--part bottom-left"></span>
          <span class="arrow--part top-right"></span>
          <span class="arrow--part bottom-right"></span>
        </div>
      </div>
      <svg class="plane-icon"><use xlink:href="#plane-icon"></use></svg>
    </div>
    <div class="btn-block">
      <button class="btn" id="js-schedule" translate="schedule"></button>
      <button class="btn" id="js-date-select" translate="buy_ticket"></button>
    </div>
  </div>
  <div class="banner">
    <img src="../../img/banner.png" alt="advertisement-banner">
  </div>
</div>
<script src="../../js/index.js"></script>
