<div class="container">
  <div class="pagination">
    <span class="step disabled"></span>
    <span class="step disabled"></span>
    <span class="step active"></span>
    <span class="step"></span>
  </div>
  <div class="timer-block">
    <p translate="time_pay"></p>
    <div class="timer" id="js-timer">
      <div class="timer--item"></div>
      <div>:</div>
      <div class="timer--item"></div>
    </div>
  </div>
  <div class="insert-card-block">
    <h3 translate="insert_card"></h3>
    <svg class="arrow-down-icon"><use xlink:href="#arrow-down-icon"></use></svg>
    <img src="../../img/img_card-insert.png" alt="insert-card">
  </div>
  <div class="accepted-cards">
    <h5 translate="accepted_cards"></h5>
    <div class="card-list">
      <div class="item">
        <div class="mcrd-icon"></div>
        MCRD
      </div>
      <div class="item">
        <div class="visa-icon"></div>
        VISA
      </div>
    </div>
  </div>
  <div class="btn-block">
    <button class="btn btn__back" id="js-back" translate="back"></button>
  </div>
</div>
<script src="../../js/insert-card.js"></script>
