<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/terminal-styles.css">
    <title>KyivBoryspil</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="logo">
          <img src="../../img/img_logo-uz.png" alt="logo-uz">
          <!-- <div class="train_logo">LOGO</div> -->
        </div>
        <div class="time"></div>
        <div class="lang">
          <a href="#" class="lang__uk"></a>
          <a href="#" class="lang__en"></a>
        </div>
      </div>
    </header>
    <div class="content" id="js-content">
    </div>

    <script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../js/jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="../../js/svg.js"></script>
    <script src="../../js/layout.js"></script>
  </body>
</html>
